/* 
============ global ============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.block {
  display: block
}

.mobile-contact-banner {
  background-color: aliceblue;
  width: 100%;
  justify-content: space-evenly;
  padding-block: 1rem;
}

.banner-legend {
  padding: 1rem;
  font-size: 4rem;
  font-weight: 900;
  line-height: 0;
}

.mobile-banner-button {
  color: black;
  border: 2px solid #c3901b;
  border-radius: 3px;
  padding: .75rem 2rem;
  font-size: 1.1rem;
  font-weight: 500;
  transition: .5s;
}

.mobile-banner-button:hover,
.mobile-banner-button:focus {
  color: white;
  background-color: #c3901b;
}

/* 
============ typography ============
*/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1;
}

h3 {
  font-weight: 500;
  letter-spacing: 1px;
}

.small-font {
  font-size: .6rem;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing {
  letter-spacing: 1px;
}

.underline {
  text-decoration: underline;
}

.splash-content-container {
  color: white;
}

.nav-links {
  color: white;
  opacity: .7;
  transition: .15s;
}

.nav-links:hover,
.nav-links:focus {
  opacity: 1;
}

.current {
  pointer-events: none;
  opacity: 1;
  border-bottom: 3px solid white;
}

.splash-body-sub-title {
  font-weight: 400;
  font-family: serif;
  opacity: .9;
}

/* 
============ splash container ============
*/

.splash-container {
  background-image: url(./img/home-backgounrd.jpg);
  background-size: cover;
  background-position: center;
  background-color: #a0a0a0;
  background-blend-mode: multiply;
}

.splash-content-container {
  flex-direction: column;
  align-items: center;
}

.splash-header-social-media-link-container {
  display: none;
  width: 80%;
  max-width: 70em;
  justify-content: end;
  gap: .5em;
  margin-block:.5em;
  align-items: center;
}

.phone-link {
  margin-left: 1em;
  margin-right: 2px;
}

.header-social-links {
  color: white;
  opacity: .9;
}

.header-social-links:hover,
.header-social-links:focus {
  opacity: 1;
}

.splash-header-section-two {
  background-color: black;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding-block: 2.5rem;
}

.splash-header-section-two-title {
  justify-content: center;
  align-items: center;
}

.nav-link-container {
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  margin-inline: auto;
  max-width: 50em;
  margin-top: 2rem;
  padding-inline: 3rem;
}

.splash-body-container {
  margin-block: 12rem;
  padding-block: 2.5rem;
  text-align: center;
  width: 95%;
  max-width: 25rem;
  border: 10px solid aliceblue;
}

.splash-body-title {
  margin-bottom: .5rem;
}

/* 
============ section one ============
*/

.main-container {
  background-color: aliceblue;
}

.section-one {
  text-align: center;
  padding: 2rem 1rem 1rem 1rem;
  max-width: 70em;
  margin-inline: auto;
}

.section-one-title {
  font-weight: 500;
}

.article-container {
  margin-block: 2rem;
}

.article-title {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.article-image {
  width: 100%;
  object-fit: cover;
}

.article-info {
  line-height: 1.2;
}

.article-link {
  display: block;
  margin-top: 1rem;
  color: #c3901b
}

/* 
============ section two ============
*/

.section-two {
  background-color: rgb(40, 40, 40);
  color: aliceblue;
  text-align: center;
  padding: 2rem 1rem 1rem 1rem;
}

.section-two-title {
  font-weight: 400;
  margin-bottom: 2rem;
}

.about-us-content-container {
  margin-top: .5rem;
}

.about-us-image {
  width: 100%;
  max-width: 30em;
  min-width: 15em;
  object-fit: cover;
  margin-inline: auto;
}

.about-us-title {
  margin-block: .75rem;
  font-weight: 400;
}

.about-us-info {
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1rem;
}

img {
  display: block;
}

/* 
============ media queries ============
*/

@media (min-width: 400px) {

  .splash-header-section-two {
    padding-block: 2.25rem;
  }

  .nav-link-container {
    flex-direction: row;
    margin-top: 1.5rem;
  }

}

@media (min-width: 600px) {

  .mobile-contact-banner {
    display: none;
  }

  .articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

}

@media (min-width: 800px) {

  .about-us-container {
    display: flex;
    max-width: 70em;
    margin-inline: auto;
    gap: 3em;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .about-us-content-container {
    max-width: 50%;
    margin-inline: auto;
    margin-top: initial;
  }

  .about-us-title {
    margin-bottom: 2rem;
    font-size: 1.25rem;
  }

}

@media (min-width: 950px) {

  .splash-header-social-media-link-container {
    display: flex;
  }

  .splash-header-section-two {
    background-color: aliceblue;
    color: black;
    border-radius: 4px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 70em;
    padding-block: 1.5rem;
  }

  .splash-header-section-two-title {
    margin-left: 1.5em;
    opacity: 1;
  }

  .nav-link-container {
    margin-top: initial;
    gap: 3rem;
  }

  .nav-links {
    color: black;
    font-weight: 500;
  }

  .current {
    border-bottom: 3px solid black;
  }

  .splash-body-container {
    padding-block: 4rem;
    margin-block: 12rem;
    max-width: 40rem;
    border: 15px solid aliceblue;
  }

  .splash-body-title {
    font-size: 2.5rem;
  }

  .splash-body-sub-title {
    font-size: 1.75rem;
  }

}